<!--头部工具栏-->
<div class="weui-panel weui-panel_access">
	 <div class="myslides" ng-if="sliderShow">
	 <ks-swiper-container loop="true" autoplay="3000"  pagination-is-active="true"  space-between="0" pagination-clickable="true">
	    <ks-swiper-slide ng-repeat="img in images">
	        <img style="width: 100%;height: 100%;" ng-src="{{img.url}}">
	    </ks-swiper-slide>
	</ks-swiper-container>
	 </div>
	 <!--
     	作者：792675442@qq.com
     	时间：2017-01-05
     	描述：
     	一排按钮
     -->
     <!--
     	文章列表
     !-->
     
</div>